.primera{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #242424;
    padding: 10px;
    
}

  .primera > div {
    border: 0px solid #242424;
    padding: 5px;
    font-size: 10px;
    text-align: center;
  }

  .inpTareasComp{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}